body, html {
    /* background-color: black; */
    scroll-behavior: smooth;
}
.black-bg {
    background-color: black;
}
.hero-image {
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero1 {
    background-image: url("../images/bgs/hero1.jpg");
}
.hero-image .banner {
    height: 35%;
}
.dslr {
    text-align: center;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 38%;
}
.carousel-control-prev {
    height: 0px;
    top: 85.6%;
    right: 29.5%;
    left: initial;
}
.carousel-control-next {
    height: 0px;
    top: 85.6%;
    right: 19.5%;
    left: initial;
}
.dslr img {
    object-fit: scale-down;
    width: 100%;
}
.w-100 {
    width: 97% !important;
}
.expand {
    font-size: 20px;
    position: absolute;
    bottom: 26.5%;
    right: 36.5%;
}
.dslr .picture {
    position: absolute;
    z-index: -1;
    width: 38%;
    bottom: 9%;
    left: 21%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


  /* Modal Content (Image) */
.modal-content {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: auto;
}
#img01 {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#success .modal-content {
      margin: 0 auto;
      width: 50%;
      height: 50%;
}
  /* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  /* The Close Button */
  .close, .closeSuccess {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus,
  .closeSuccess:hover,
  .closeSuccess:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
.rsvp-button {
    position: absolute;
    margin-top: 20px;
    left: 33%;
    bottom: -9%;
}
#no-submission {
    line-height: 3;
}
.form-header {
    font-family: Permanent Marker;
    font-size: 3em;
    padding-bottom: 30px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  p.success {
    color: #73af55;
  }
  p.error {
    color: #d06079;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

#yay {
    object-fit: scale-down;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loader-container > :first-child {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


.container {
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100%;
    max-width: 900px;
}
.center-div {
    margin: 0 auto;
}
#silly-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
#silly-field {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.form-radio, .form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before, .form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover, .form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked, .form-checkbox:checked
{
     background-color: #f1f1f1;
}
label
{
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: #666;
    cursor: pointer;
}
label[for=radio-two] {
    padding-bottom: 20px;
}
.success-checkmark {
    margin: auto;
    width: 100px;
    height: 200px;
    border-radius: 3px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1024px) {
    .dslr {
        width: 60%;
    }
}
@media only screen and (max-width: 900px) {
    .expand {
        font-size: 20px;
    }
    .dslr {
        width: 80%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1080px) {
    .dslr {
        width: 60%;
    }
}
@media only screen and (min-width: 1081px) and (max-width: 1200px) {
    .dslr {
        width: 55%;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1330px) {
    .dslr {
        width: 50%;
    }
}
@media only screen and (min-width: 1331px) and (max-width: 1500px) {
    .dslr {
        width: 45%;
    }
}
@media only screen and (min-width: 1501px) and (max-width: 1650px){
    .dslr {
        width: 40%;
    }
}
@media only screen and (min-width: 1740px) and (max-width: 1920px){
    .dslr {
        width: 35%;
    }
}
@media only screen and (max-width: 750px) {
    #img01 {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 700px) {
    .modal-content {
        top: 25%;
        max-width: 90%;
        height: initial;
        width: auto;
    }
    .expand {
        font-size: 15px;
    }
    .white-bg {
        height: 140vh;
    }
}
@media only screen and (max-width: 500px) {
    label[for=radio-one], label[for=radio-two] {
        font-size: 14px;
    }
    .expand {
        font-size: 13px;
    }
    .form-header {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 365px) {
    label[for=radio-one], label[for=radio-two] {
        font-size: 14px;
    }
    .expand {
        font-size: 13px;
    }
    .form-header {
        font-size: 2.0rem;
    }
}

@media only screen and (max-width: 320px) {
    .rsvp-button {
        bottom: -20%;
    }
}
/*
@media screen and (min-width: 320px) and (max-width: 1100px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
} */